body{
    font-family: 'Poppins', sans-serif;
    background-color: #E9D1CC;
    color: #000000;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
    margin: 0 0;
}
h2{
    font-size: 40px;
    margin: 0 0;
}
h1 span{
    color: #F36F2E;
}

.row-1{
    display: flex;
    align-items: center;
}
.row-1 .content-box{
    margin-left: 80px;
    font-size: 20px;
    width: 40%;
}
.row-1 .content-box .left-bdr{
    border-left: 5px solid #F33D2E;
    border-radius: 15px;
    padding-left: 15px;
}
.row-1 .content-box .explore{
    padding: 10px 15px;
    background-color: #F36F2E;
    width: 150px;
    text-align: center;
    border-radius: 15px;
    color: white;
    font-size: 17px;
}
.row-1 img{
    width: 30%;
    padding-top: 80px;
    padding-left: 100px;
    height: 600px;
    width: 650px;
}

.mission-area{
    width: 100%;
    margin-bottom: 100px;
}
.mission-area h1{
    text-align: center;
    margin-bottom: 60px;
}
.mission-area .mission-box{
    display: flex;
}
.mission-area .mission-box .item-1{
    height: 20%;
    width: 25%;
    margin-left: 80px; 
    background-color: #c7bebee5;
    text-align: justify;
    padding: 10px 15px;
    border-radius: 35px;    
}
.mission-area .mission-box .item-2{
    height: 20%;
    width: 25%;
    margin-left: 30px; 
    background-color: #c9c9d3;
    text-align: justify;
    padding: 10px 15px;
    border-radius: 35px;  
}
.mission-area .mission-box .item-3{
    height: 20%;
    width: 25%;
    margin-left: 30px; 
    background-color: #c3c3c4;
    text-align: justify;
    padding: 10px 15px;
    border-radius: 35px;  
}

.mission-area .mission-box .icon{
    height: 170px;
    width: 160px;
}

.development-area{
    margin-bottom: 70px;
}
.development-area .dev-box{
    display: flex;
    align-items: center;
    background-image: url(images/pictures/shape-1.png);
    background-position: 5px 50px;
    background-repeat: no-repeat;
    background-size: 200px 200px;
    
}

.development-area .dev-box img{
    height: 500px;
    width: 500px;
    margin-left: 80px;
}
.development-area .dev-box .dev-item{
    margin-left: 80px;
    font-size: 20px;
    width: 50%;
}
.development-area .dev-box .btn{
    background-color: #F36F2E;
    width: 300px;
    text-align: center;
    color: white;
    font-size: 17px;
    padding: 10px;
    border-radius: 15px;
}

.row-1 .content-box-2{
    display: flex;
    align-items: center;
    background-image: url(images/pictures/shape-1.png);
    background-repeat: no-repeat;
    background-position: 1070px 450px;
    background-size: 200px 200px;
}
.row-1 .content-box-2{
    margin-left: 80px;
    font-size: 20px;
}
.row-1 .content-box-2 .box-item-2{
    width: 40%;
}

.row-1 .content-box-2 img{
    height: 500px;
    width: 500px;
    padding-bottom: 80px;
    
}


.row-1 .content-box-2 .btn-2{
    background-color: #F36F2E;
    width: 300px;
    text-align: center;
    color: white;
    font-size: 17px;
    padding: 10px;
    border-radius: 15px;
}


.contact{
    display: flex;
    align-items: center;
    background-image: url(images/pictures/shape-3.png);
    background-repeat: no-repeat;
    background-size: 180px 150px;
    background-position: 5px 30px ;
}
.heading{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 60px;
}
.contact form{
    width: 40%;
    margin-left: 80px;
    
    
}
.contact form .input-box{
    width: 100%;
    padding: 8px;
    background-color: #E9D1CC;
    margin: 5px 0;
    border: none;
    border-bottom: 3px solid #c56352;  
    border-radius: 5px; 
}

.contact form textarea{
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    resize: none;
    border: 3px solid #c56352;
    border-radius: 5px;
   
}
.contact form .btn{
    background-color: #F33D2E;
    margin: 15px 0;
    padding: 10px 15px;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 15px;
}
.contact img{
    height: 550px;
    width: 600px;
    margin-left: 30px;
    border-radius: 25px;
}

footer{
    margin-top: 60px;
    text-align: center;
    width: 100%;
    padding: 3px;
    background-color: #f7f7f7e3;
}